body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #333;
    text-align: center;
}

.welcome-message {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.profile-info {
    margin-top: 20px;
}

.profile-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.profile-item:last-child {
    border-bottom: none;
}
.edit-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Change the background color as needed */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.edit-button a:hover {
    background-color: #2980b9; /* Change the hover background color as needed */
}